
/* Normalizar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ESTILOS HEADER*/
a {
    text-decoration: none;

}

ul {
    list-style: none;

}

header {
    background-color: rgb(43, 43, 101);
}

.submenu {
    background-color: rgb(43, 43, 101);
}
/* MEDIDAS HEADER */
.logo {
    height: 50px;
    padding: 5px 20px;
}

.menu > li > a {
    display: inline-block;
    padding: 20px 20px;
    width: 120px;
    color: white;
}

.submenu > li > a {
    display: inline-block;
    padding: 20px 20px;
    width: 120px;
    color: white;
}
/* ESTRUCTURA HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;

}
/* HOVER HEADER */

.menu a:hover,
.menu-disp li:hover {
    background-color: rgb(30, 30, 68);
}

/* DESAPARECER Y APARECER EN HEADER */
.submenu {
    display: none;
}

li:hover .submenu {
    background-color: rgb(43, 43, 101);
    display: block;
}

/* POSITION HEADER */
.menu > li {
    position: relative;
}

.submenu {
    position: absolute;
}

/* LOGO HOVER HEADER */
.logo:hover {
    transform: scale(1.1);
}






















/* MENU DISPOSITIVOS */




/* ESTILOS  MENU DISPOSITIVOS*/

.submenu-disp {
    background-color: rgb(43, 43, 101);
}

.hamburguesa {
    height: 40px;
}

/* .servicios {
    marging-left: 50px;
} */
/* MEDIDAS  MENU DISPOSITIVOS */

.menu-disp > li > div,
.submenu-disp > li > a {
    display: inline-block;
    padding: 20px 20px;
    width: 90vw;
    color: white;
}


/* ESTRUCTURA  MENU DISPOSITIVOS */

.menu-disp {
    display: flex;

}
/* DESAPARECER Y APARECER EN MENU DISPOSITIVOS */
.submenu-disp {
    display: none;
}

li:hover .submenu-disp {
    background-color: rgb(43, 43, 101);
    display: block;
}

/* POSITION MENU DISPOSITIVOS */
.menu-disp > li {
    position: relative;
}

.submenu-disp {
    position: absolute;
}

















/* GRID TODA LA PAGINA */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

header {
    grid-column: 5 span;
}











/* CARD */

.card {
    background-color: rgb(240, 240, 240);
}

.card a {
    color: black;
}


.img-card {
    width: 100%;
}

.card {
    grid-column: 1 span;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}

.card:hover {
    box-shadow: 10px 10px 7px rgb(129, 129, 129);
    transform: scale(1.02);
}

.card a {
    text-align: center;
    display: inline-block;
    border-width: 1px;
    border-color: rgb(255, 132, 0);
    border-style: solid;
    color: rgb(255, 132, 0);
}

.card a:hover {

    background-color: rgb(255, 132, 0);
    color: white;
}

/* BANNER */

.banner {
    grid-column: 5 span;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.banner {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}


/* FOOTER */

footer {
    margin-top: 50px;
    height: 100px;
    background-color: rgb(43, 43, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;

}




/* MEDIA QUERYS  */
/* 0-600 NO MENU */
@media screen  and (max-width: 600px) {
    .menu {
        display: none;
    }
}

/* 601... NO MENU DISPOSITIVOS */

@media screen  and (min-width: 601px) {
    .menu-disp {
        display: none;
        background-color: brown;
    }
}

/* RESPONSIVE */
/* 1200... 4 columnas */

@media screen  and (max-width: 1200px) {
    .banner {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen  and (max-width: 980px) {
    .banner {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen  and (max-width: 700px) {
    .banner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen  and (max-width: 550px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
    }
}